---
const response = await globalThis.fetch(
  'https://api.github.com/users/olankens/repos?sort=updated&direction=desc&per_page=1'
);
const repos = await response.json();
const repo = repos[0];

const header1 = repo?.name || 'WORK';
const header2 = repo?.language || 'RECENT COMMITS';

const content = repo?.description || 'Check out my latest GitHub repository!';
const pictureUrl = `https://raw.githubusercontent.com/${repo?.full_name}/main/.assets/social.png`;
---

<section
  class="w-full bg-linear-to-r from-violet-800 to-violet-800/90 text-center text-white sm:text-left"
>
  <div class="mx-auto grid max-w-4xl grid-cols-1 gap-12 p-12 sm:grid-cols-2">
    <!-- Title: Col 1 on Desktop -->
    <div class="flex flex-col gap-2 sm:col-start-1">
      <h1 class="text-3xl font-bold uppercase">{header1}</h1>
      <h2 class="text-xl font-light uppercase">{header2}</h2>
      <hr class="mt-10 w-full border-2 border-white" />
    </div>

    <!-- Image: Col 2, Row span 2 on Desktop -->
    <div class="flex items-center justify-center sm:col-start-2 sm:row-span-2">
      <img
        src={pictureUrl}
        alt={header1}
        width="274"
        height="258"
        class="aspect-square h-auto w-full rounded-lg border-3 border-white object-cover"
      />
    </div>

    <!-- Content Div: Col 1, Row 2 on Desktop -->
    <div
      class="self-end justify-self-end rounded-lg text-lg leading-relaxed sm:col-start-1 sm:row-start-2 md:leading-loose"
    >
      {content}
    </div>
  </div>
</section>
